.container-main {
  display: flex;
  .container-image {
    background-image: url("https://app.psicoalianza.com/images/bg-login-min.jpg");
    width: 70%;
    height: 100vh;
    background-position: center;
    background-size: 138%;
    background-repeat: no-repeat;
    .container-text {
      height: 100vh;
      background-color: #153899bf;
      .container-title {
        padding: 38% 0% 0% 12%;
        h1,
        h3 {
          color: #fff;
        }
      }
    }
  }
  .container-login {
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
    align-items: center;
    .container-image-login {
      display: flex;
      justify-content: center;
    }
    .container-text-login {
      padding: 10%;
      display: flex;
      flex-direction: column;
      width: 62%;
    }
    .container-user {
      display: flex;
      justify-content: center;
      padding: 2%;
      mat-form-field {
        width: 75%;
      }
      button {
        background: transparent;
        border: none;
        cursor: pointer;
      }
    }
    .container-remember {
      display: flex;
      justify-content: center;
      padding-bottom: 2%;
    }
    .container-button {
      display: flex;
      justify-content: center;
      button {
        width: 75%;
        padding: 2%;
        border-radius: 10px;
        color: #fff;
        background-color: #3737ec;
        cursor: pointer;
      }
      button:hover {
        color: #3737ec;
        background-color: #fff;
      }
    }
    .container-missing-user {
      display: flex;
      justify-content: space-between;
      .missing-user,
      .missing-pass {
        font-size: 12px;
        padding: 2%;
        cursor: pointer;
        p {
          color: #000;
        }
        &:hover {
          color: #ddd;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .container-main {
    flex-direction: column;
    position: relative;
    .container-image {
      background-position: initial;
      width: 100%;
      .container-text{
        background-color: #0e2b7abf;
      }
      .container-title {
        display: none;
      }
    }
    .container-login {
      position: absolute;
      background-color: #fff;
      border-radius: 1rem;
      border: 1px solid #000;
      height: 52vh;
      width: 96%;
      margin: 50% 5% 0% 2%;
      .container-image-login {
        margin-top: 14%;
      }
      .container-user {
        padding: 0%;
        mat-form-field {
          width: 100%;
        }
        button {
          background: transparent;
          border: none;
          cursor: pointer;
        }
      }
      .container-button {
        button {
          width: 100%;
          padding: 2%;
          border-radius: 10px;
          color: #fff;
          background-color: #3737ec;
          cursor: pointer;
        }
      }
      .container-missing-user {
        display: flex;
        flex-direction: column;
        align-items: center;
        .missing-user,
        .missing-pass {
          font-size: 12px;
          cursor: pointer;
        }
      }
    }
  }
}
