.container-search {
  display: flex;
  gap: 2%;
  justify-content: flex-end;
  padding-top: 2%;
  padding-right: 6%;
  align-items: center;
  input {
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
  }
  input:focus {
    border-color: #007bff;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  }
}
.container-main {
  .container-content {
    @media screen and (min-width: 1024px) {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 20px;
      padding: 4%;
    }
    .container-card {
      @media screen and (max-width: 764px) {
        width: 96vw;
        margin: 5% 2% 2% 2%;
      }
      background-color: #ddd;
      border: 1px solid #000;
      width: 20vw;
      height: auto;
      border-radius: 1rem;
      margin: 2%;
      display: flex;
      flex-direction: column;
      align-items: center;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
      transition: transform 0.3s ease-out;
      cursor: pointer;
      .container-img {
        width: 100%;
        height: 515px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        img {
          width: 100%;
          height: auto;
          object-fit: cover;
          border-radius: 1rem;
        }
      }
      .container-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2%;
      }
    }
    .container-card:hover {
      transform: scale(1.1);
    }
  }
}
.container-button {
  display: flex;
  justify-content: space-around;
  padding-left: 4%;
  padding-bottom: 2%;
}
