<app-header></app-header>
<div class="container-search">
  <label>Search</label>
  <input placeholder="Search by name" [(ngModel)]="inputSearch" (ngModelChange)="mostrar()" />
</div>
<div class="container-main">
  <div *ngIf="listDisney" class="container-content">
    <div *ngFor="let disney of search == false ? listDisney.data : listDisney " [routerLink]="['../detail', disney._id]" class="container-card">
      <div class="container-img">
        <img
          src="{{disney.imageUrl}}"
          alt=""
        />
      </div>
      <div class="container-text">
        <p>{{disney.name ?? 'No tiene nombre'}}</p>
      </div>
    </div>
  </div>
</div>
<div>
</div>
<app-footer></app-footer>
