<app-header></app-header>
<div class="container-search">
  <label>Search</label>
  <input placeholder="Search by name" [(ngModel)]="inputSearch" (ngModelChange)="mostrar()" />
</div>
<div class="container-main">
  <div *ngIf="listDisney" class="container-content">
    <div *ngFor="let disney of search == false ? listDisney.data : listDisney " [routerLink]="['../detail', disney._id]" class="container-card">
      <div class="container-img">
        <img
          src="{{disney.imageUrl}}"
          alt=""
        />
      </div>
      <div class="container-text">
        <p>{{disney.name ?? 'No tiene nombre'}}</p>
      </div>
    </div>
  </div>
</div>
  <div class="container-button">
    <button type="button"> <img src="../../../assets/img/arrow-left-solid.svg" height ="90" width="480" /></button>
    <button *ngIf="page != 1" (click)="loadData(page = page - 1)" ><i class="fas fa-arrow-right"></i></button>
    <button (click)="loadData(page = page + 1)" >Siguiente página</button>
  </div>
<div>
</div>
<app-footer></app-footer>
